body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #ffe8e6;
}

h1,
p {
  text-align: center;
  color: #800040;
}

textarea {
  background: transparent;
  border-left: 2.5px solid #800040;
  border-right: 2.5px solid #800040;
  border-top: 2.5px solid #800040;
  border-bottom: 2.5px solid #800040;
  resize: none;
  color: #800040;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #800040;
  border-left: 2.5px solid #800040;
  border-right: 2.5px solid #800040;
  border-top: 2.5px solid #800040;
  border-bottom: 2.5px solid #800040;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: lavenderblush;
  color: #800040;
}

.present {
  background-color: #ff99bb;
  color: #800040;
}

.future {
  background-color: #ff4d88;
  color: #800040;
}

.saveBtn {
  border-left: 2.5px solid #800040;
  border-top: 2.5px solid #800040;
  border-right: 2.5px solid #800040;
  border-bottom: 5px solid #800040;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: mediumvioletred;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
